body {
  font-family: sans-serif;
  color: #333;
  background: #F7F7F7;
}

input {
  font-size: 1em;
  padding: 0.5em;
  color: inherit;
  border: 1px solid #DDD;
  outline: none;
}

.main-content {
  max-width: 400px;
  margin: auto;
}

.user-form {
  margin-bottom: 2em;
}

.user-link {
  display: block;
  background: white;
  border: 1px solid #DDD;
  overflow: auto;
  padding: 1em;
  box-shadow: 0 1em 1em -0.75em #CCC;
  transition: all 0.15s;
}

  .user-link:hover {
    background: #75B4AB;
    color: white;
  }

.user-name {
  display: block;
  font-size: 2em;
}

.user-link {
  text-decoration: none;
  color: inherit;
}

.user-avatar {
  float: left;
  max-height: 4em;
  margin-right: 1em;
  border-radius: 4em;
  background: white;
}
